<!DOCTYPE html>
<html>
  <head>
    <title>Y</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <style>
      body {
        background-color: #d6ecff;
      }
      .container {
        background-color: #e8f2ff;
        padding: 20px;
        border-radius: 10px;
      }
    </style>
  </head>

  <body>
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="container mt-4">
      <%= yield %>
  </div>
  <footer class="bg-light text-center text-lg-start mt-4">
    <div class="text-center p-3">
      © 2024 Copyright:
      <a class="text-dark" href="#">Y</a>
      <a href="#" class="ml-3"><i class="fab fa-facebook-f">Facebook</i></a>
      <a href="#" class="ml-3"><i class="fab fa-twitter">Twitter</i></a>
      <a href="#" class="ml-3"><i class="fab fa-instagram">Instagram</i></a>
    </div>
  </footer>
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  </body>
</html>
